.titulo-text-linha {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}
.titulo-text {
  font-family: cursive;
  font-style: normal;
}
.titulo-linha {
  border: 3px solid;
  width: 70%;
}
.titulo-linha-esquerda {
  border: 3px solid;
  width: 10%;
}