.lista-de-item {
    display: flex;
    margin: 5px;
}
.inicial-loading {


    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicial-loading-hamburguer {   
     mix-blend-mode: multiply;
    height: 335px;
}