.h6 {
    font-size: large;
}

.navegacao-search {
    padding: 0px 0 0 10px;
    background-color: white;
    border-radius: 6px;
}

.logo {
    height: 50px;
}

.minha-cesta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cesta {
    height: 25px;
    padding: 4px;
}

.minha-cesta {
    font-size: 12px;
}

.open-hamburguer-expand {
    height: 100%;
    background-image: linear-gradient(#8C0400, #cd3b04, #eb6c00, #f59430, #f5bd78);
}

.close-hamburguer-expand {
    display: none;
}

