.container {
  /*position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px; */
  width: 327px;
  height: 384px;
  background-color: #8C0400;
  color: white;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  position: relative;
  background-color: #ffffff;
  height: 100vh;
}

.container p {
  opacity: 0.6;
  margin: 0;
}
.CardExpand {
  margin: 5px;
}
.text {
    display: flex;
    justify-content: space-around;
}
.text2 {
display: flex;
}
.text3 {
display: flex;
}
.container h3 {
  margin: 0;
}
.imagem {
  /** width: 305px;
  height: 302px; */
  width: 100%;
  height: 275px;
}
.upper {
  /**  height: 384px;
  width: 100%;  */
  max-width: 340px;
}

.upper h3 svg {
  height: 16px;
  width: 16px;
  fill: white;
  margin-left: 10px;
  padding-top: 4px;
}

.lower {

}
.none {
  transition: all 300ms ease-in-out;
  visibility: collapse;
}
.lower h4 {
  margin-top: 40px;
  font-size: 14px;
  color: #2999f5;
}

.lower p:not(:first-child) {
  margin-top: 40px;
}
.rotate {
  transition: all 300ms ease-in-out;
  transform: rotate(180deg);
}
div.expand {
  height: 490px;

}
