.Cadastro {
    display: flex;
}
.cadastro-container {
    height: 100%;
    width: 450px;
    background-image: linear-gradient(#8C0400, #FF7A00);
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.cadastro-lateral-imagem {
    text-align: center;
}
.imagem-lado {
    height: 210px;
}
.cadastro-inputs-group {
    background-color: white;
    border-radius: 10px;
    margin: 5rem;
    padding: 45px 0;
}
.cadastro-inputs {
    padding: 6px 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.cadastro-obrigatorio {
    color: red;
}
.text-complemento {
    position: relative;
    color: #6f66d9;
    font-size: small;
    margin-left: 5px;
}
.cadastro-concluir {
    text-align: center;
}
.cadastro-text-linha {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.cadastro-text {
    font-family: cursive;
    font-style: normal;
}
.cadastro-linha {
    border: 2px solid;
    width: 115px;
}
@media only screen and (min-width: 1371px) {
.cadastro-lateral-imagem {
    text-align: center;
    padding-bottom: 163px;
}
.cadastro-text-linha {
    padding-bottom: 20px;
}
}
@media only screen and (max-width: 1370px) {
    .imagem-lado {
        height: 167px;
    }
    .cadastro-container {
        width: 315px;
    }
    .cadastro-linha {
        width: 50px;
    }
    .cadastro-inputs-group {
        margin: 3rem;
    }
}
