.cadastro-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    height: 100vh;
    width: 450px;
    background-image: linear-gradient(#8C0400, #FF7A00);
}

.cadastro-text-linha {
    position: relative;
    margin-bottom: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cadastro-text {
    position: relative;
    color: white;
    font-family: cursive;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-linha {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 3px solid;
    width: 100px;
}

.imagem-lado{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.cadastro-inputs-group {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    height: 90vh;
    width: 1200px;
    margin-top: 5rem;
    left: 580px;
}

.cadastro-inputs {
    margin: 7px;
    margin-left: 10px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.obrigatorio {
    position: absolute;
    color: red;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 500px;
}

.text-complemento{
    position: relative;
    color: #6f66d9;
    font-size: small;
    margin-left: 5px;
}

.cadastro-concluir{
    position: relative;
    justify-content: center;
    align-items: center;
}