.ajuda-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ajuda-body-perguntas-list-item {
  padding: 9px 40px !important;
}
.ajuda-body-perguntas-list-text {
  padding-left: 10px;
}
.ajuda-body-perguntas-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ajuda-body-hamburger-img {
  height: 16rem;
}
